* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container-fw {
  height: 100vh;
  width: 100%;
  position: relative;
  /* per finestra-absolute */
  background-color: #d9dbd4;
}

.banda-verde {
  height: 125px;
  width: 100%;
  background-color: #009688;
}

.finestra-absolute {
  width: 85%;
  /*forse è meglio in pixel*/
  height: 93%;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

/********************** contenitore a sx **************/
.contenitore-sx {
  height: 100%;
  width: 35%;
  float: left;
}

.blocco-alto {
  height: 210px;
  width: 100%;
  background-color: green;
}

.impostazioni-utente {
  height: 80px;
  width: 100%;
  background-color: #ededed;
  min-height: 70px;
}

.box-sx,
.box-dx {
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
}

.box {
  width: 40px;
  height: 40px;
}

.box-dx {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.box-dx .box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
}

.box-dx .fas {
  font-size: 20px;
  color: #bababa;
}

.box-sx {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ricevi-notifiche-nuovi-messaggi {
  height: 80px;
  width: 100%;
  background-color: #99dffc;
  display: flex;
  align-items: center;
}

.btn-notifiche {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  color: #99dffc;
}

.testo-ricevi-notifiche p {
  text-decoration: underline;
  padding-top: 5px;
}

.contenitore-cerca-e-icona {
  width: 90%;
  height: 75%;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  justify-content: space-around;
  border: 1px solid rgb(216, 215, 215);
}

.cerca-chat {
  width: 100%;
  height: 50px;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(223, 223, 223);
}

#find-chat {
  width: 90%;
  height: 27px;
  border-radius: 5px;
  border: none;
}

.lista-contatti {
  height: calc(100% - 210px);
  width: 100%;
  overflow: auto;
  background-color: white;
}

.contatto {
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(206, 206, 206);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.contatto h3 {
  font-size: 16px;
}

.contatto p {
  font-size: 12px;
}

/*.foto-contatto {
  width: 75px;
  height: 75px;
  border: 1px solid red;
  border-radius: 50%;
  margin-left: 5px;
}*/
.contatto img,
.box-sx img,
.btn-notifiche {
  max-width: 50px;
  margin-left: 25px;
  margin-right: 15px;
}

.nome-contatto-e-anteprima-messaggio {
  height: 100%;
  width: 55%;
  min-width: 100px;
}

.nome-contatto,
.anteprima-messaggio {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: left;
  padding-left: 5px;
}

.nome-contatto {
  align-items: flex-end;
}

.anteprima-messaggio {
  align-items: flex-start;
}

.ora-messaggio-contatto {
  width: 90px;
  min-width: 75px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************** contenitore destra ************/
.contenitore-dx {
  height: 100%;
  width: 65%;
  background-color: azure;
  float: right;
  /*background-image: url("https://storage.needpix.com/rsynced_images/background-4075626_1280.jpg");*/
  background-image: url("../immagini/sfondo.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  object-fit: cover;
}

.contenitore-dx .impostazioni-utente {
  height: 80px;
  border-left: 1px solid rgb(199, 199, 199);
  display: none;
}

.contenitore-dx .impostazioni-utente .box-sx img {
  width: 100%;
  margin-left: 0;
}

.contenitore-dx .impostazioni-utente p {
  text-decoration: none;
  font-size: 12px;
  padding-top: 5px;
}

.contenitore-messaggi {
  height: calc(100% - 160px);
  width: 100%;
  overflow: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: none;
}

#nessun-utente {
  display: block;
  background-color: #f7f7f7;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenitore-interno {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenitore-interno img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.contenitore-interno h2 {
  padding-bottom: 20px;
  font-size: 21px;
}

.contenitore-interno h6 {
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid gray;
}

.fa-laptop {
  margin-right: 5px;
}

/*********************************************/
.contenitore-msg-attivo {
  height: calc(100% - 160px);
  width: 100%;
  overflow: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.barra-inserimento-testo {
  height: 80px;
  width: 100%;
  background-color: #f5f0ed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: hidden;
  align-items: center;
}

.emoticons,
.messaggio-vocale {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #989d9e;
}

.chat {
  width: calc(100% - 160px);
}

#inserimento-testo {
  width: calc(100%);
  height: 60px;
}

textarea {
  resize: none !important;
  border-radius: 10px;
  padding: 10px;
}

*:focus {
  /*rimuove i bordi azzurri che escono quando clicco tex-area e input*/
  outline: none;
}

.box-img {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  margin-left: 25px;
  margin-right: 15px;
}

/********** MESSAGGI DELL'UTENTE E CHATTANTE **********/
.row {
  min-height: 150px;
  max-height: 1000px;
  width: 100%;
  border: 1px solid transparent;
  padding-top: 5px;
  padding-bottom: 10px;
}

/***messaggio inviato***/
.messaggio-inviato {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.messaggio-inviato .messaggio {
  min-height: 80px;
  width: 300px;
  background-color: #dafac2;
  margin-right: 30px !important;
  align-self: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  /* per "elimina-mex in absolute*/
}

.fa-chevron-down {
  padding-top: 10px;
  padding-right: 10px;
  text-align: right;
  width: 20px;
  align-self: flex-end;
}

.elimina-mex {
  height: 50px;
  background-color: rgb(216, 213, 213);
  position: absolute;
  right: 0;
  top: 30px;
  width: 80%;
  text-align: center;
  box-shadow: 2px 5px 5px grey;
  /*padding: 20px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  padding-top: 15px;
  border-radius: 3px;
}

.div-paragrafo {
  height: 90%;
  width: 100%;
}

.messaggio-inviato .messaggio p {
  padding: 12px;
}

.div-small {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.messaggio-inviato .messaggio small {
  align-self: flex-end;
}

/****** messaggio ricevuto *****/
.messaggio-ricevuto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.messaggio-ricevuto .messaggio {
  min-height: 80px;
  width: 300px;
  background-color: #ffffff;
  margin-left: 30px;
  align-self: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  /* per "elimina-mex in absolute*/
}

.div-paragrafo {
  height: 90%;
  width: 100%;
}

.messaggio-ricevuto .messaggio p {
  padding: 12px;
}

.div-small {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.messaggio-ricevuto .messaggio small {
  align-self: flex-end;
}

/************ TEMPLATE VUOTO ***********/
.template1,
.template2 {
  display: none;
}

.prima-riga {
  display: none;
}

/*********** EFFETTI ************/
.contatto:hover {
  background-color: rgb(224, 224, 224);
}
